/* Section projets */
.single-project {
	max-width: 390px;
	margin: 0 auto 40px;
}
.single-project a {
	color: $gris-fonce;
}
.single-project-header {
	border: 2px solid $jaune-pale;
	max-width: 90%;
	margin: 0 auto;
	position: relative;
}
.single-project-title {
	background: $jaune-pale;
	margin: 4px;
	padding: 33px 0;
	h4 {
		text-transform: uppercase;
		font-size: 1.3rem;
	}
	h5 {
		font-size: 1em;
	}
	hr {
		width: 30%;
		border-top: 1px black solid;
	}
}
.single-project-details {
	margin: 24px 15px;
	p {
		text-align: justify;
		color: $gris-clair;
		line-height: 24px;
	}
	a {
		color: black;
		opacity: .5;
		font-size: 14px;
		margin-top: 8px;
		&:hover {
			opacity: 1;
			font-weight: bold;
		}
	}
}
/* Fin projets */