/* Section competences */
.skills-row {
	margin: 50px auto;
}
.skills-col {
	text-align: center;
	padding: 5px 10px;
}
.skills-col-title {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid black;
	@media all and (max-width: 768px) {
		border-right: none;
		border-bottom: 1px black solid;
	}
}
.skills-name {
	font-weight: bold;
	color: grey;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	transform: scale(1);
	transition: box-shadow 300ms 100ms, transform 300ms;
	&:hover {
		color: #333;
		cursor: pointer;
		box-shadow: -10px -10px 10px -10px rgba(0, 0, 24, 0.5), 
					10px 10px 10px -10px rgba(0, 0, 24, 0.5);
		transform: scale(1.2);
	}
}
/* Fin competences */