/* Large */
@media all and (max-width: 992px) {
	.titre-header h1 {
		font-size: 9vw;
	}
	.titre-header h2 {
		font-size: 3vw;
	}
}
/* Medium */
@media all and (max-width: 768px) {
	.titre-header h1 {
		font-size: 10vw;
	}
	.titre-header h2 {
		font-size: 5vw;
	}
	.skills-col-title {
		border-right: none;
		border-bottom: 1px black solid;
	}
}